{
  "presets": [
    "@babel/react",
    "@babel/env",
    "mobx"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime",
      {
        "corejs": 2,
        "regenerator": true
      }
    ],
    ["@babel/plugin-transform-async-to-generator", {
      "module": "bluebird",
      "method": "coroutine"
    }]
  ]
}